@import "the-new-css-reset/css/reset.css";
@import "inter-ui/inter.css";
@import "./new-variables.scss";

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  width: 100%;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}

div.errormsg {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  grid-column: 1 / 4;
  padding: 0.5em;
  width: 100%;
}

div.errormsg,
.error > input {
  border-color: #e4c7c7;
  background: #f9ebea;
}

a {
  color: $blue-sapphire;
}

.infobox {
  margin-top: 0.5em;
  padding: 1em;
}

.infocolor {
  background: $landing-header;
  font-size: 0.9em;

  > h4:first-child {
    margin-top: 0;
  }
  h4 {
    font-size: 1.1em;
    margin-top: 1em;
  }
}

.closeX {
  float: right;
  font-weight: bold;
  color: lightgrey;
  cursor: pointer;
  margin-right: 0.5em;
}

.notAvailable {
  color: grey;
}
.notAvailable::after {
  content: "n/a";
}

.qualitycheck {
  img {
    height: 1.15em;
    margin-top: -4px;
    margin-right: 5px;
  }
}

code,
pre {
  font-family: "Oxygen Mono", monospace;
}

.pagewidth {
  max-width: $page-width;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: content-box;
}
