header.global, footer.global
  display: flex
  justify-content: space-between
  box-sizing: border-box
  width: 100%
  padding-left: 1em
  padding-right: 1em

.vertical-center
  display: flex
  flex-direction: column
  justify-content: center

.download
  text-decoration: none
  background-color: $blue-sapphire
  border-radius: 3px
  color: white
  border-style: outset
  border-width: 2px
  border-color: $blue-sapphire
  padding-top: 4px
  padding-bottom: 4px
  padding-left: 10px
  padding-right: 10px
  font-size: 1em
  cursor: pointer
  font-family: $content-font
  display: inline-block
  &:hover:not(.disabled)
    color: white
    text-decoration: none
    background-color: $blue-sapphire-light
    border-color: $blue-sapphire-light
  &:active:not(.disabled)
    border-style: inset
    background-color: $blue-sapphire
    border-color: $blue-sapphire
  &.disabled
    cursor: default
  &.disabled:hover
    color: white
    text-decoration: none
  > svg
    vertical-align: middle
    width: auto
    height: 1.3em
    fill: white

.secondaryButton
  text-decoration: none
  background-color: $blue-dust
  border-radius: 3px
  border-style: solid
  border-width: 1px
  border-color: $steel-warrior
  color: #83a1b7
  padding-top: 4px
  padding-bottom: 4px
  padding-left: 10px
  padding-right: 10px
  font-size: 0.9em
  cursor: pointer
  font-family: $content-font
  display: inline-block
  text-align: center
  &:hover:not(.disabled)
    text-decoration: none
    color: #518daf
    background-color: $steel-warrior
  &:active:not(.disabled), &.active
    background-color: $steel-warrior
    border-color: $blue-dust
  &.disabled
    cursor: default
  &.disabled:hover
    color: #83a1b7
    text-decoration: none
  > svg
    vertical-align: middle
    width: auto
    height: 1.3em
    fill: white

.note
  border-width: 1px
  border-style: solid
  border-radius: 2px
  width: 100%
  padding-top: 0.5em
  padding-bottom: 0.5em
  padding-left: 1em
  padding-right: 1em
  margin-bottom: 2em

div.errormsg
  border-style: solid
  border-width: 1px
  border-radius: 2px
  grid-column: 1 / 4
  padding: 0.5em
  width: 100%

div.errormsg, .error>input
  border-color: #e4c7c7
  background: #f9ebea

a
  color: $blue-sapphire

.infobox
  margin-top: 0.5em
  padding: 1em
.infocolor
  background: $landing-header
  font-size: 0.9em
  > h4:first-child
    margin-top: 0
  h4
    font-size: 1.1em
    margin-top: 1em

.closeX
  float: right
  font-weight: bold
  color: lightgrey
  cursor: pointer
  margin-right: 0.5em

.notAvailable
  color: grey
.notAvailable::after
  content: 'n/a'

.qualitycheck
  img
    height: 1.15em
    margin-top: -4px

code, pre
  font-family: 'Oxygen Mono', monospace
