@import "variables.scss";

$landing-header: $blue-dust;
$border-color: #c8c8c8;

main.infoBox {
  margin: 0 -1em -1em -1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > section,
  > div > section {
    flex-grow: 0.5;
    border: 1px solid $border-color;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin: 1em;
    min-width: 20em;
    word-wrap: anywhere;
    display: flex;
    flex-direction: column;

    > * {
      padding: 10px;
    }

    > header {
      background: $landing-header;
      border-bottom: 1px solid $border-color;
      font-size: 1.1em;
    }

    dl {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 10px;
      display: grid;
      grid-template-columns: auto 4fr;
      column-gap: 0.5em;
      row-gap: 0.5em;
    }

    dt {
      text-align: left;
      font-weight: 600;
      max-width: 11em;

      &::after {
        content: ": ";
      }
    }

    dd {
      text-align: left;
      margin: 0;
    }
  }
}

img.product,
svg.link {
  height: auto;
  width: 1em;
  margin-right: 0.3em;
}

svg.link {
  position: relative;
  top: -0.15em;
}

.detailslist {
  margin-bottom: 0.5em;

  .detailslistItem {
    margin-top: 5px;
    margin-bottom: 0.5em;
    margin-left: 10px;
  }
}

.detailslistNotAvailable {
  color: gray;
}

.detailslistError {
  color: red;
}

.notice {
  font-size: 0.9em;
}
