//
// Colors
//

$red1: #bf3235;
$red2: #7f2123;
$red3: #401112;
$red4: #ff4347;
$red5: #e53c40;

$blue1: #385465;
$blue2: #4fade9;
$blue3: #7dbce5;
$blue4: #0b588a;
$blue5: #699ec0;

$gray1: #d9d9d9;
$gray2: #bfbfbf;
$gray3: #a6a6a6;
$gray4: #737373;
$gray5: #404040;

$yellow1: #f2cb07;
$yellow2: #f2b705;
$yellow3: #f29f05;
$yellow4: #bf6b04;
$yellow5: #8c4303;

$actris-turquoise: #1798a8;
$actris-turquoiselight: #6dcbd6;
$actris-turquoiselighter: #7fcbd5;
$actris-turquoiselighterr: #cfebee;
$actris-turquoiselighterrr: #dff2f2;
$actris-violet: #5d4ac7;
$actris-violetlight: #968cd0;
$actris-violetdark: #453794;
$actris-purple: #bd2ebd;
$actris-yellow: #ffda01;
$actris-darkblue: #162a82;
$actris-green: #2c8f47;

//
// Widths
//

$page-width: 1500px;
