.mega-tooltip {
  background: white;
  padding: 0.75em 1em;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 400px;

  .legacy-label {
    color: grey;
  }

  section {
    display: flex;
    font-size: 0.8em;
    margin-top: 0.5em;

    ul {
      padding: 0;
      list-style: none;
      white-space: pre-wrap;
      margin-bottom: 0;
      flex-grow: 1;
      flex-basis: 0;
      margin-left: 20px;

      li.header {
        font-weight: bold;
        margin-left: -20px;
      }

      li.productitem::before,
      li.qualityitem::before {
        margin-right: 5px;
        margin-left: -20px;
      }

      // Product availability:

      li.productitem::before {
        content: "    ";
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      li.productitem.found::before {
        background-image: url("@/assets/icons/test-pass.svg");
      }

      li.productitem:not(.found)::before {
        background-image: url("@/assets/icons/test-missing.svg");
      }

      // Quality:

      li.qualityitem::before {
        content: "    ";
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      li.qualityitem:not(.found).na::before {
        background-image: url("@/assets/icons/test-missing.svg");
      }

      li.qualityitem:not(.found)::before {
        background-image: url("@/assets/icons/test-fail.svg");
      }

      li.qualityitem.error::before {
        background-image: url("@/assets/icons/test-fail.svg");
      }

      li.qualityitem.warning::before {
        background-image: url("@/assets/icons/test-warning.svg");
      }

      li.qualityitem.info::before {
        background-image: url("@/assets/icons/test-info.svg");
      }

      li.qualityitem.found::before {
        background-image: url("@/assets/icons/test-pass.svg");
      }
    }
  }
}
