$header-background-color: #78C0E0
$notification-color: #B8336A
$space-cadet: #21295C
$midnight-blue: #1b3b6f
$section-title: #3a3a3a
$blue-sapphire: #065A82
$blue-sapphire-light: #096792
$header-font: 'Montserrat'
$content-font: 'Oxygen'
$blue-dust: #f3f7f9
$steel-warrior: #e4eff7
