$column-spacing: 10px

div.sourceFile
  padding-left: 1em
  padding-right: 1em
  padding-bottom: 1em
  display: flex
  flex-wrap: wrap
div.paddedSourceFile + div.paddedSourceFile, .sideBySide div.sourceFile:nth-child(n+3)
  border-top: 1px solid $border-color
  padding-top: 1em
  margin-top: $filter-margin
.sideBySide
  display: flex
  flex-wrap: wrap
.sideBySide
  div.sourceFile
    flex-basis: calc(50% - #{$column-spacing})
    align-content: flex-start
    padding: 0
    border: none
    margin: 0
  div.sourceFile:nth-child(odd)
    padding-right: calc($column-spacing/2)
  div.sourceFile:nth-child(even)
    padding-left: calc($column-spacing/2)
  div.sourceFile:only-child
    flex-basis: 100%
img
  height: auto
  max-width: 100%
.sourceFile
  h3
    width: 100%
    margin-bottom: 1.5em
    font-size: 1.1em
    svg
      position: relative
      top: -1px
      width: 0.9em
      height: auto
.variable
  flex-basis: 600px
  flex-grow: 1
  max-width: 1000px
  h4
    margin-left: 1.5em
    margin-bottom: 0.15em
